
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {#% block stylesheets %}
                    <!-- Latest compiled and minified CSS -->
{# <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> #}

<!-- jQuery library -->
{# <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> #}

<!-- Popper JS -->
{# <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script> #}

<!-- Latest compiled JavaScript -->
{# <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> #}
            {#{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags('app_css') }}

            {# <link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.min.css"> #}
    
        {% block stylesheets %}

      <link rel="shortcut icon" href="favicon.ico">
      <link
      rel="icon" href="back-end/favicon.ico" type="image/x-icon">

      <!-- Data table CSS -->
      {{ encore_entry_link_tags('app') }}
      <link
      href="back-end/vendors/bower_components/datatables/media/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css"/>

      <!-- Custom CSS -->
      <link href="back-end/dist/css/style.css" rel="stylesheet" type="text/css">

      <link href="back-end/vendors/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet" type="text/css"/>


      <link href="back-end/vendors/bower_components/jquery-toast-plugin/dist/jquery.toast.min.css" rel="stylesheet" type="text/css">

    {% endblock %}
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
    </head>

    <body id="page-top">

 

          <!-- Page Wrapper -->
          <div id="wrapper">

                  <!-- End of Topbar -->


                  <!-- Begin Page Content -->
                  <div class="container-fluid">
                    {% block body %}

                    {% endblock %}
                  </div>

                </div>
                <!-- /.container- -->

              </div>
              <!-- End of Main Content -->
            </div>
            <!-- End of Content Wrapper -->

          </div>
          <!-- Bootstrap core JavaScript-->
          <script src="vendor/jquery/jquery.min.js"></script>
          <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


          <!-- Custom scripts for all pages-->
          <script src="js/sb-admin-2.min.js"></script>






        {% block javascripts %}
            {{ encore_entry_script_tags('app_js') }}
            {{ encore_entry_script_tags('app_js1') }}

        {% endblock %}

        {% block js %}
{% endblock %}
    </body>
</html>
