{% extends 'base.html.twig' %}

{% block title  'Find all the best entite '%}

{% block body %}

<h1>Formulaire d'enregistrement de departement</h1>
	
	{{ form_start(departementdesentiteformulaire) }}

		{{ form_widget(departementdesentiteformulaire) }}

		<input type="submit" class="btn btn-success" value="Enregistrer departement">

	{{ form_end(departementdesentiteformulaire) }}

{% endblock %}
