{% extends 'base.html.twig' %}

{% block title %}Edit Succursale{% endblock %}

{% block body %}
  <h1>Formulaire de modification de Departement</h1>

    {{ form_start(formdepartementdesentite) }}

		{{ form_widget(formdepartementdesentite) }}

		<input type="submit" class="btn btn-success" value="Enregistrer Departement_des_entite">

	{{ form_end(formdepartementdesentite) }}
    
{% endblock %}



