{% extends 'base.html.twig' %}

{% block title  'Find all the best entite '%}

{% block body %}

<h1>Formulaire d'enregistrement d'entreprise</h1>
	
	{{ form_start(entiteformulaire) }}

		{{ form_widget(entiteformulaire) }}

		<input type="submit" class="btn btn-success" value="Enregistrer Entreprise">

	{{ form_end(entiteformulaire) }}

{% endblock %}
